@import "../res/font/GoogleSans.scss";
@import "../res/font/other.scss";
@import "../res/font/note2.scss";

body{
    margin:0px;
    padding:0px;
    color:#616161;
    font-family: "Roboto",sans-serif;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    font: 16px/20px Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: Roboto, "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
}
ul,ol{
    list-style: none;
    padding:0px;
}

strong{
    font-weight: 500;
}
a{
    text-decoration:none;
}